<a href="https://colab.research.google.com/github/luis-gutierre/CURSO_MULTIVARIADAS_1/blob/master/ScikitLearn_Notebook03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
#########################################################################
#########------- Machine Learning Inmersion ------------#################
#########################################################################
# Capacitador: André Omar Chávez Panduro
# email: andre.chavez@urp.edu.pe
# Introduccion Python - DesarrolloAlgoritmosMachineLearning
# version: 1.0
#########################################################################

![image.png](attachment:image.png)

In [53]:
%matplotlib inline 
import numpy as np # Trabajar con arreglos ( Vectores y matrices)
import pandas as pd # Lectura de datos (Input/Output)
import matplotlib.pyplot as plt # Graficos en Python
np.random.seed(42)

En primer lugar vamos a probar con un ejemplo muy sencillo: ajustar una recta a unos datos. Esto difícilmente se puede llamar _machine learning_, pero nos servirá para ver cómo es la forma de trabajar con `scikit-learn`, cómo se entrenan los modelos y cómo se calculan las predicciones.

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
# Lectura de datos
data = pd.read_csv("/content/drive/MyDrive/CURSOS-ESPECIALIZACION/ML_Python-DMC/MODULO1/data/Churn-arboles.csv")

In [56]:
###### Desarrollo de Soluciones Analiticas con Algoritmos de Machine Learning ######

In [57]:
# Ver los primeros
data.head()

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga
1   4    68   Femenino   Casado      2  81000.9   No     Fuga
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.6   No     Fuga
4  13    28   Femenino   Casado      2  20850.4   No     Fuga

In [58]:
data.CHURN.value_counts()

No Fuga    832
Fuga       513
Name: CHURN, dtype: int64

In [59]:
# Cambiamos los datos string a numeros para que los algoritmos puedan trabajar
# *

In [60]:
#ver los primeros
#en lenguaje humano
data.head()

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO    CHURN
0   0    57   Femenino   Casado      2  27535.3   Si     Fuga
1   4    68   Femenino   Casado      2  81000.9   No     Fuga
2   8    34  Masculino  Soltero      0  87467.1   Si  No Fuga
3  10    60  Masculino   Casado      2  83220.6   No     Fuga
4  13    28   Femenino   Casado      2  20850.4   No     Fuga

In [61]:
columnas_categoricas=["SEXO","CIVIL","AUTO","CHURN"]

In [62]:
from sklearn.preprocessing import LabelEncoder

for c in columnas_categoricas:
    print(str(c))
    le = LabelEncoder()
    le.fit(data[str(c)])
    data[str(c)]=le.transform(data[str(c)])

SEXO
CIVIL
AUTO
CHURN

In [63]:
# Observar el encoding
#en lenguaje maquina
data.head(10)

   ID  EDAD  SEXO  CIVIL  HIJOS   INGRESO  AUTO  CHURN
0   0    57     0      0      2  27535.30     1      0
1   4    68     0      0      2  81000.90     0      0
2   8    34     1      1      0  87467.10     1      1
3  10    60     1      0      2  83220.60     0      0
4  13    28     0      0      2  20850.40     0      0
5  17    52     1      1      0  84112.60     0      1
6  19    87     0      1      2   3776.12     0      0
7  20    88     0      0      2  73865.90     1      0
8  22    76     1      0      2  30933.60     1      1
9  23    76     0      0      1  12309.60     0      0

In [64]:
#se puede observar que la variable "sexo" esta en formato numero lo tenemos que convertir en formato "object",en algunos algoritmos es necesario la conversion.
data.dtypes

ID           int64
EDAD         int64
SEXO         int64
CIVIL        int64
HIJOS        int64
INGRESO    float64
AUTO         int64
CHURN        int64
dtype: object

In [65]:
data.SEXO=data.SEXO.astype("object")
data.dtypes

ID           int64
EDAD         int64
SEXO        object
CIVIL        int64
HIJOS        int64
INGRESO    float64
AUTO         int64
CHURN        int64
dtype: object

In [66]:
data.head(1)

   ID  EDAD SEXO  CIVIL  HIJOS  INGRESO  AUTO  CHURN
0   0    57    0      0      2  27535.3     1      0

In [67]:
data.columns.values.tolist()

['ID', 'EDAD', 'SEXO', 'CIVIL', 'HIJOS', 'INGRESO', 'AUTO', 'CHURN']

In [68]:
data.CIVIL=data.CIVIL.astype("object")
data.CHURN=data.CHURN.astype("string")
data.AUTO=data.AUTO.astype("object")

In [69]:
data.dtypes

ID           int64
EDAD         int64
SEXO        object
CIVIL       object
HIJOS        int64
INGRESO    float64
AUTO        object
CHURN       string
dtype: object

In [70]:
data.head(1)

   ID  EDAD SEXO CIVIL  HIJOS  INGRESO AUTO CHURN
0   0    57    0     0      2  27535.3    1     0

In [71]:
data.INGRESO=data.INGRESO.astype("float")
data.dtypes

ID           int64
EDAD         int64
SEXO        object
CIVIL       object
HIJOS        int64
INGRESO    float64
AUTO        object
CHURN       string
dtype: object

In [72]:
data.INGRESO.values.max()

99832.9

In [73]:
#data.dtypes

El proceso para usar `scikit-learn` es el siguiente:

1. Separar los datos en matriz de características `features` y variable a predecir `y`
2. Seleccionar el modelo
3. Elegir los hiperparámetros
4. Ajustar o entrenar el modelo (`model.fit`)
5. Predecir con datos nuevos (`model.predict`)

In [74]:
# Paso1: Llamamos un modelo analítco
# Llamamos a la libreria de modelos
from sklearn.linear_model import LogisticRegression

In [75]:
# Paso2: Definimos el modelo
lr=LogisticRegression() # Utiliza los parámetros por defecto

In [76]:
# Generamos el frame de drivers o features.
# X - y
data.columns.values.tolist()

['ID', 'EDAD', 'SEXO', 'CIVIL', 'HIJOS', 'INGRESO', 'AUTO', 'CHURN']

In [77]:
drivers=["EDAD","SEXO","CIVIL","HIJOS","INGRESO","AUTO"]
x=data[drivers]

In [78]:
x.head(3)

   EDAD SEXO CIVIL  HIJOS  INGRESO AUTO
0    57    0     0      2  27535.3    1
1    68    0     0      2  81000.9    0
2    34    1     1      0  87467.1    1

In [79]:
# Generamos el frame del target o variable objetivo
y=data["CHURN"]
y.head(8)

0    0
1    0
2    1
3    0
4    0
5    1
6    0
7    0
Name: CHURN, dtype: string

In [80]:
# Paso 03:  Particion muestral
from sklearn.model_selection import train_test_split

In [81]:
# X_train, X_test, Y_train, Y_test =
X_train,X_test,y_train,y_test= train_test_split(x, # Drivers o covariables
                                                y, # Target
                                                test_size=0.30,#prueba 30%   , entrenamiento 70%
                                                stratify=y)#para que mantega la distribucion   
                                                #del total(70% y 30%)
                                                #forma proporcionada en prueba(70% y 30%)
                                                # y entrenamiento(70% y 30%)

In [82]:
# Paso04: Ajusto un modelo predictivo
lr.fit(X_train,y_train) # Ajuste o entrenamiento

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [83]:
# Paso05: Predecimos con el algoritmo entrenado
y_pred_train = lr.predict(X_train)
y_pred_test =  lr.predict(X_test)

Para calcular el error, en el módulo `sklearn.metrics` tenemos varias funciones útiles:

In [84]:
# Paso06: Validamos el mdodelo predictivo
from sklearn import metrics

In [85]:
precision_global_train = metrics.accuracy_score(y_true=y_train, y_pred=y_pred_train)#entrenamiento
precision_global_test =  metrics.accuracy_score(y_true=y_test,   y_pred=y_pred_test)#prueba

In [86]:
precision_global_train

0.7630180658873539

In [87]:
precision_global_test

0.7475247524752475

Y ahora predecimos con datos nuevos:

In [88]:
###### Productivo de Soluciones Analiticas con Algoritmos de Machine Learning ######

In [89]:
# Paso6: Implementamos un modelo predictivo
data_new = pd.read_csv("/content/drive/MyDrive/CURSOS-ESPECIALIZACION/ML_Python-DMC/MODULO1/data/Churn-arboles-nuevos.csv")

In [90]:
data_new.head(3)

   ID  EDAD       SEXO    CIVIL  HIJOS  INGRESO AUTO
0   0    57   Femenino   Casado      2  27535.3   Si
1   4    68   Femenino   Casado      2  81000.9   No
2   8    34  Masculino  Soltero      0  87467.1   Si

In [91]:
data_new.dtypes

ID           int64
EDAD         int64
SEXO        object
CIVIL       object
HIJOS        int64
INGRESO    float64
AUTO        object
dtype: object

In [92]:
# Le hacemos label encoding tambien
columnas_categoricas = ["SEXO","CIVIL","AUTO"]
for c in columnas_categoricas:
    print(str(c))
    le = LabelEncoder()
    le.fit(data_new[str(c)])
    data_new[str(c)]=le.transform(data_new[str(c)])

SEXO
CIVIL
AUTO

In [93]:
data_new.head(1)

   ID  EDAD  SEXO  CIVIL  HIJOS  INGRESO  AUTO
0   0    57     0      0      2  27535.3     1

In [94]:
data_new2=data_new.drop("ID",axis=1)#axis=1 hace referencia a columna
data_new2.head(2)

   EDAD  SEXO  CIVIL  HIJOS  INGRESO  AUTO
0    57     0      0      2  27535.3     1
1    68     0      0      2  81000.9     0

In [98]:
# Paso07: Con el modelo entrenado, hago la prediccion para nuevos individuos
y_campanas_pred= lr.predict(data_new2)
y_campanas_prob= lr.predict_proba(data_new2)[:,0]# fuga =0  , no_fuga=1

In [ ]:
y_campanas_prob = lr.predict_proba(data_new2)
y_campanas_prob

In [99]:
data_new2["CHURN_PROB"]=y_campanas_prob
data_new2["CHURN_PRED"]=y_campanas_pred
#data_new2=data_new2.drop(["CHURN"],axis=1)
data_new2

    EDAD  SEXO  CIVIL  HIJOS  INGRESO  AUTO  CHURN_PROB CHURN_PRED
0     57     0      0      2  27535.3     1    0.463676          1
1     68     0      0      2  81000.9     0    0.491118          1
2     34     1      1      0  87467.1     1    0.149780          1
3     60     1      0      2  83220.6     0    0.103211          1
4     28     0      0      2  20850.4     0    0.337739          1
..   ...   ...    ...    ...      ...   ...         ...        ...
95    83     0      0      0  67042.0     0    0.767855          0
96    52     0      0      1  24943.0     1    0.560618          0
97    26     1      1      2   8172.8     0    0.059750          1
98    55     0      0      0  79771.3     1    0.669727          0
99    58     0      0      0  91446.4     1    0.678381          0

[100 rows x 8 columns]

In [100]:
y_campanas_pred
#fuga=0
#no_fuga=1

array(['1', '1', '1', '1', '1', '1', '0', '0', '1', '0', '1', '0', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0',
       '1', '1', '1', '1', '1', '1', '1', '0', '1', '0', '1', '1', '0',
       '0', '1', '1', '1', '1', '1', '1', '0', '0', '1', '1', '1', '0',
       '1', '0', '1', '1', '0', '1', '1', '0', '0', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0',
       '1', '1', '1', '1', '1', '1', '1', '0', '0', '1', '0', '1', '1',
       '1', '1', '1', '1', '0', '0', '1', '0', '0'], dtype=object)

In [ ]:
y_campanas_prob

In [102]:
lr.coef_

array([[-1.77191621e-02,  1.98214381e+00,  7.99609668e-02,
         4.74762084e-01,  1.17894808e-06, -2.18569056e-02]])

¡Y ya está! Lo básico de `scikit-learn` está aquí. Lo próximo será usar diferentes tipos de modelos y examinar con rigor su rendimiento para poder seleccionar el que mejor funcione para nuestros datos.

In [103]:
# FIN!!